@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    margin: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
}

/* Heading & Logo */

header {
    text-align: center;
}

h1, h2 {
    font-family: 'Share Tech', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: crimson;
}

#logo {
    display: inline-block;
    font-size: 380%;
}

/* Navigation Links */

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    text-align: center;
}

#menu li {
    list-style-type: none;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: darkolivegreen;
}

#menu a:hover {
    border-bottom: 1px solid blue;
}

.active {
    border-bottom: 1px solid darkolivegreen;
}